.section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 64px 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 32px;
}

/* .grid > *:nth-child(2) {
  margin-top: 48px;
}
.grid > *:nth-child(5) {
  margin-top: 48px;
} */

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 56px;
}

.page {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: none;
  font-family: var(--font-label);
  font-size: 0.85rem;
  color: var(--color-neutral-dark);
  cursor: pointer;
  transition: background 0.2s ease;
}

.page:hover {
  background-color: var(--color-neutral);
}

.active {
  background-color: var(--color-primary) !important;
  color: #fff;
}
