/* Importando as fontes Plus Jakarta Sans, Newsreader e Inter do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Variáveis globais — o "design system" do projeto */
:root {
  --color-bg: #fffbf9; /* fundo creme */
  --color-primary: #b8865a; /* caramelo principal */
  --color-primary-light: #ffeee2; /* caramelo claro para hover */
  --color-primary-dark: #2e1500; /* caramelo escuro para hover */
  --color-secondary: #4a5c3e; /* laranja suave para detalhes */
  --color-secondary-light: #e2f8d0; /* verde claro para hover de detalhes */
  --color-secondary-dark: #101f07; /* verde escuro para hover de detalhes */
  --color-neutral: #f0ebe0; /* cinza claro para fundos neutros */
  --color-neutral-light: #ffffff; /* branco para fundos neutros claros */
  --color-neutral-dark: #323029; /* cinza escuro para texto neutro */
  --color-remove: #c0392b; /* vermelho do "REMOVE" */

  /* Tipografia */
  --font-display: 'Newsreader', serif; /* títulos elegantes */
  --font-body: 'Plus Jakarta Sans', sans-serif; /* textos corridos */
  --font-label: 'Inter', sans-serif; /* rótulos e detalhes */

  /* Espaçamentos base */
  --max-width: 1200px;
  --spacing-section: 64px;
  --spacing-unit: 1rem; /* base para espaçamento escalável */
  --spacing-xs: calc(var(--spacing-unit) * 0.5); /*8px*/
  --spacing-sm: calc(var(--spacing-unit) * 0.75); /*12px*/
  --spacing-md: var(--spacing-unit); /*16px*/
  --spacing-lg: calc(var(--spacing-unit) * 2); /*32px*/
  --spacing-xl: calc(var(--spacing-unit) * 4); /*64px*/

  /*Tamanhos de fontes*/
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-2lg: 1.5rem; /* 24px */
  --font-size-3lg: 1.75rem; /* 28px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-xxl: 3rem; /* 48px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-neutral-dark);
  font-family: var(--font-body);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
